@model Samane.Models.Hospital

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="wrapper wrapper-engineer">
    <div class="inner inner-engineer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2>بیمارستان جدید</h2>
            <div class="">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group centerflex">
                    @Html.LabelFor(model => model.HospitalName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HospitalName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HospitalName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group centerflex">
                    @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group centerflex">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group centerflex">
                    @Html.LabelFor(model => model.InChargePerson, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InChargePerson, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InChargePerson, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group centerflex">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت" class="btn btn-default" />
            </div>
        </div>*@
                <div class="form-login">
                    @*<div class="button">
            <button value="Create">*@
                    @*@Html.ActionLink("ثبت", "Index")*@
                    <input type="submit" value="ثبت" class="butten" />
                    @Html.ActionLink("انصراف", "Index", "Hospital", null, new { @class = "butten" })
                    @*</button>
            </div>*@
                </div>
            </div>
        }
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>






@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
