@model Samane.Models.Hospital

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<div class="wrapper wrapper-engineer">
    <div class="inner inner-engineer">
        <div class="image-holder">
            <img src="~/images/delete.jpg" alt="">
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2>حذف بیمارستان</h2>
            <div class="">
                <div class="form-group centerflex">
                    @*@Html.DisplayNameFor(model => model.hospital.Province)*@
                    @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label lablesize col-md-2" })
                    <div class="col-md-10 form-control centerflex">
                        @Html.DisplayFor(model => model.Province)
                    </div>
                </div>
                <div class="form-group centerflex">
                    @*@Html.DisplayNameFor(model => model.hospital.Province)*@
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label lablesize col-md-2" })
                    <div class="col-md-10 form-control centerflex">
                        @Html.DisplayFor(model => model.City)
                    </div>
                </div>
                <div class="form-group centerflex">
                    @*@Html.DisplayNameFor(model => model.hospital.Province)*@
                    @Html.LabelFor(model => model.InChargePerson, htmlAttributes: new { @class = "control-label lablesize col-md-2" })
                    <div class="col-md-10 form-control centerflex">
                        @Html.DisplayFor(model => model.InChargePerson)
                    </div>
                </div>


            </div>
            <div class="form-login">
                    <input type="submit" value="Delete" class="butten" />
                    @*@Html.ActionLink("حذف", "Index", new { id = Model.HospitalName })*@
                    @*@Html.ActionLink("حذف", "Index")*@

            </div>
            @*@using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }*@
        }
    </div>
        </div>