@model IEnumerable<Samane.Models.Instrument>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*@if (Model.Count() == 0)
    {
        <p>دستگاهی برای این بیمارستان وارد نشده است</p>
    }
    else
    {*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hospital.HospitalName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hospital.HospitalName)
            </td>

        </tr>
    }

</table>
@*}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>