@model Samane.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="wrapper wrapper-engineer">
    <div class="inner inner-engineer">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h2>اطلاعات کاربری</h2>
                <div class="">
                    <div class="form-group centerflex">
                        @Html.LabelFor(model => model.NameAndLastName, htmlAttributes: new { @class = "control-label lablesizepannel col-md-2" })
                        <div class="col-md-10 form-control centerflex">
                            @Html.DisplayFor(model => model.NameAndLastName)
                        </div>
                    </div>
                    <div class="form-group centerflex">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label lablesizepannel col-md-2" })
                        <div class="col-md-10 form-control centerflex">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group centerflex">
                        @Html.LabelFor(model => model.userRole, htmlAttributes: new { @class = "control-label lablesizepannel col-md-2" })
                        <div class="col-md-10 form-control centerflex">
                            @Html.DisplayFor(model => model.userRole)
                        </div>
                    </div>
                    <div class="form-group centerflex">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label lablesizepannel col-md-2" })
                        <div class="col-md-10 form-control centerflex">
                            @Html.DisplayFor(model => model.UserName)
                        </div>
                    </div>
                    <div class="form-login">
                        <button>
                            @Html.ActionLink("برگشت به لیست", "Index")
                        </button>
                    </div>
                </div>
            }

    </div>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
