
@using Samane.RepositoriesForAuthentication
@model Samane.Models.HospitalUserRegisterViewModel

@{
    ViewBag.Title = "Home Page";
}


@*<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">*@
@*<link rel="stylesheet" href="fonts/icomoon/style.css">*@

@*<link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">*@

<link rel="stylesheet" href="~/css/aos.css">


<div class="site-wrap">

    <div class="wrapperindex1">
        <div class="banner">
            <div class="banner-text">
                <p>آرارات مکاترونیک</p>
            </div>
        </div>
        <div class="wrapperindex">
            <div class="site-section" id="teachers-section">
                <div class="container">

                    @*<div class="row1 mb-5 justify-content-center">
                            <div class="col-lg-7 mb-5 text-center" data-aos="fade-up" data-aos-delay="">
                                <h2 class="text-black">خدمات ما</h2>
                                <p class="mb-5">
                                    دسترسی راحت تر به امکانات ما از این طریق
                                </p>
                            </div>
                        </div>*@

                    <div class="row1 flexdisplay">
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="teacher text-center">
                                <figure class="m-0">
                                    <a href="Home/Shopping">
                                        <img src="~/images/shopping.jpg" alt="Image" class="img-fluid three">
                                    </a>
                                </figure>
                                <div class="py-2">
                                    <h2 class="text-black">فروشگاه ما</h2>
                                    @*<p class="position">Physics Teacher</p>*@
                                    <p>خرید دستگاه های پزشکی و لوازم مصرفی بیمارستانی</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="teacher text-center">
                                <figure class="m-0">
                                    <a href="course-single.html">
                                        <img src="~/images/software.jpg" alt="Image" class="img-fluid three">
                                    </a>
                                </figure>
                                <div class="py-2">
                                    <h2 class="text-black">نرم افزار بیمارستانی</h2>
                                    @*<p class="position">Physics Teacher</p>*@
                                    <p>لینک رو اینجا بزاریم</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="teacher text-center">
                                <figure class="m-0">
                                    <a href="/Account/Login">
                                        <img src="~/images/repair.jpg" alt="Image" class="img-fluid three">
                                    </a>
                                </figure>
                                <div class="py-2">
                                    <a href="/Account/Login">
                                        <h2 class="text-black">خدمات تعمیرات</h2>
                                        @*<p class="position">Physics Teacher</p>*@
                                        <p>تعمیرات دستگاه هاو مشاوره و ...</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="site-section" id="programs-section">
                <div class="container">
                    @*<div class="row1 mb-5 justify-content-center">
                            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                                <h2 class="section-title">Our Programs</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repellat aut neque! Doloribus sunt non aut reiciendis, vel recusandae obcaecati hic dicta repudiandae in quas quibusdam ullam, illum sed veniam!</p>
                            </div>
                        </div>*@
                    <div class="row1 mb-5 align-items-center">
                        <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                            <img src="~/images/online1.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-4 ml-auto centerindexp" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="text-black mb-4 centertext">مشاوره وعیب یابی دستگاه به صورت آنلاین</h2>
                            <p class="mb-4">جهت سهولت کار و تسریع در فرایند تعمیر، با ثبت  نوع دستگاه و شماره موبایل با قابلیت تماس ویدئویی (واتس آپ/اسکایپ) ، در اسرع وقت مهندسین مربوطه با شما تماس گرفته و مشاوره های لازم انجام میشود....</p>
                            <div class="form-login">
                                @*<input type="submit" class="butten" value="مشاوره آنلاین" />*@
                                @*<a href="~/Home/Index/#online-section" class="butten">مشاوره آنلاین</a>*@
                                @*<a href="javascript:unhide('online-section')" class="butten">مشاوره آنلاین</a><br><br>*@
                                <input id="line" type="button" class="butten unhidden" onclick="unhide(this, 'online') " value="مشاوره آنلاین">

                                <div id="online" class="hidden">
                                    <div class="content3">
                                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "test", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="">
                                                @Html.ValidationSummary(false, "پر کردن فیلدها الزامی است", new { @class = "text-danger" })
                                                <div class="form-holder active">

                                                    @Html.EditorFor(model => model.HospitalName, new { htmlAttributes = new { @class = "form-control", placeholder = "نام دستگاه", title = "نام دستگاه" } })
                                                </div>

                                                <div class="form-holder">
                                                    @Html.EditorFor(model => model.NameAndLastName, new { htmlAttributes = new { @class = "form-control", placeholder = "شماره موبایل", title = "شماره موبایل" } })
                                                </div>

                                                <div class="form-holder">
                                                    @Html.EditorFor(model => model.NameAndLastName, new { htmlAttributes = new { @class = "form-control", placeholder = "نام و نام خانوادگی", title = "نام و نام خانوادگی" } })
                                                </div>

                                            </div>

                                            <div class="form-login">
                                                <input type="submit" value="ثبت" class="butten" />
                                                @*<input type="button" class="butten" onclick="unhide(this, 'online') " value="انصراف">*@
                                            </div>

                                        }
                                    </div>
                                </div>


                                @*<button>مشاوره آنلاین</button>*@
                            </div>
                        </div>
                    </div>

                    <div class="row1 mb-5 align-items-center">
                        <div class="col-lg-4 mr-auto order-2 order-lg-1 centerindexp" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="text-black mb-4 centertext">راهنمای استفاده از سایت</h2>
                            <p class="mb-4">جهت دریافت فایل آموزشی استفاده از نرم افزار و سایت لطفا دکمه دریافت فایل پی دی اف را بزنیدولی در صورت بروز سوال پشتیبانان ما در خدمت شما هستند. </p>
                            <div class="form-login">
                                <a href="~/pdf/rahnama.pdf" class="butten">دریافت راهنما</a>
                            </div>

                            @*<div class="d-flex align-items-center custom-icon-wrap mb-3">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                                    <div><h3 class="m-0">22,931 Yearly Graduates</h3></div>
                                </div>

                                <div class="d-flex align-items-center custom-icon-wrap">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                                    <div><h3 class="m-0">150 Universities Worldwide</h3></div>
                                </div>*@

                        </div>
                        <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                            <img src="~/images/undraw_teaching.svg" alt="Image" class="img-fluid">
                        </div>

                    </div>

                    <div class="row1 mb-5 align-items-center">
                        <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                            <img src="~/images/poshtiban1.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-4 ml-auto centerindexp" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="text-black mb-4 centertext">پشتیبانی</h2>
                            <p class="mb-4">با وجود آموزش های لازم در سایت، در صورت داشتن سوال، پشتیبانان ما در خدمت شما کاربران عزیز می باشند لطفا از قسمت ارتباط با ما و یا از طریق تلفن های ما با ما در ارتباط باشید.</p>

                            @*<div class="d-flex align-items-center custom-icon-wrap mb-3">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                                    <div><h3 class="m-0">22,931 Yearly Graduates</h3></div>
                                </div>

                                <div class="d-flex align-items-center custom-icon-wrap">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                                    <div><h3 class="m-0">150 Universities Worldwide</h3></div>
                                </div>*@

                        </div>
                    </div>
                    <div class="about-section row1 mb-5 align-items-center" id="about-section">
                        @*<div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                                <img src="~/images/poshtiban1.jpg" alt="Image" class="img-fluid">
                            </div>*@
                        <div class="ml-auto centerindexp" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="text-black centertext">
                                درباره ما
                                <a href="@Url.Action("Index", "Home")"><img src="~/images/backtoup.png" />  </a>
                            </h2>
                            <p class="mb-4">با وجود آموزش های لازم در سایت، در صورت داشتن سوال، پشتیبانان ما در خدمت شما کاربران عزیز می باشند لطفا از قسمت ارتباط با ما و یا از طریق تلفن های ما با ما در ارتباط باشید.</p>
                            <section class="counters">
                                <div class="countcontainer">
                                    <div>
                                        <i class="fa fa-user-plus facount"></i>
                                        <div class="counter" data-target="7000">0</div>
                                        <h4>تعداد کل کاربران</h4>
                                    </div>
                                    <div>
                                        <i class="fa fa-user-plus facount"></i>
                                        <div class="counter" data-target="8000">0</div>
                                        <h4>تعداد دستگاه های تعمیری</h4>
                                    </div>
                                    <div>
                                        <i class="fa fa-user-plus facount facount"></i>
                                        <div class="counter" data-target="4000">0</div>
                                        <h4>تعداد بازدید</h4>
                                    </div>
                                    <div>
                                        <i class="fa fa-user-plus facount"></i>
                                        <div class="counter" data-target="5000">0</div>
                                        <h4>تعداد ...</h4>
                                    </div>
                                </div>
                            </section>
                            @*<div class="row text-center">
                                    <div class="col-md-3 counter-box">
                                        <div class="icon-box"><i class="fa fa-user-plus facount"></i></div>
                                        <p class="counter">1500</p>
                                        <p>count of users</p>

                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row1 mb-5 justify-content-center">
                    <div class="col-lg-7 mb-5 text-center" data-aos="fade-up" data-aos-delay="">
                        <h2 class="text-black">خدمات ما</h2>
                        <p class="mb-5">
                            دسترسی راحت تر به امکانات ما از این طریق
                        </p>
                    </div>
                </div>*@
            <div class="site-section inner inner-hospital bg-light" id="contact-section">
                <div class="container">

                    <div class="row justify-content-center">
                        <div class="marginauto">
                            <h2 class="text-black mb-4 right">
                                پیام به ما
                                <a href="@Url.Action("Index", "Home")"><img src="~/images/backtoup.png" />  </a>
                            </h2>
                            <p>لطفا در صورت بروز مشکل و یا انتقاد و پیشنهاد برای ما پیام ارسال کنید و یا شماره تماس را در قسمت توضیحات وارد نمایید تا در اسرع وقت با شما تماس حاصل شود.</p>
                            <form method="post" class="formfull" data-aos="fade">
                                <div class="van">
                                    <div class="">
                                        <div class="form-group row">
                                            <input type="text" class="form-control" placeholder=" نام ونام خانوادگی ">
                                        </div>
                                        <div class="form-group row">
                                            <input type="text" class="form-control" placeholder="موضوع">
                                        </div>
                                        <div class="form-group row">
                                            <input type="email" class="form-control" placeholder="ایمیل">

                                        </div>
                                        <div class="form-group row">
                                            <input type="tel" class="form-control" placeholder="شماره همراه">
                                        </div>
                                    </div>
                                    <div class="van2">
                                        <div class="form-group row">
                                            <div class="">
                                                <textarea class="form-control" id="" cols="30" rows="10" placeholder="متن خود را در این قسمت بنویسید"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-login">
                                    <input type="submit" class="butten" value="ثبت" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            @*<style>
                    .hidden {
                        display: none;
                    }

                    .unhidden {
                        display: block;
                    }
                </style>*@
            @*<script type="text/javascript">
                    function unhide(clickedButton, divID) {
                        var item = document.getElementById(divID);
                        if (item) {
                            if (item.className == 'hidden') {
                                item.className = 'unhidden';
                                clickedButton.value = 'ثبت'
                            } else {
                                item.className = 'hidden';
                                clickedButton.value = 'unhide'
                            }
                        }
                    }

                </script>*@

            @*<body>
                    <div id="about" class="hidden">
                        <div class="content3">
                            <p>This is the about section.</p>
                            <p>It is currently still being worked on.</p>
                        </div>
                    </div>
                    <input type="button" onclick="unhide(this, 'about') " value="unhide">
                </body>*@
        </div>
    </div>
</div>
<!-- .site-wrap -->
@*<script src="~/jss/jquery-3.3.1.min.js"></script>
    <script src="~/jss/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/jss/jquery-ui.js"></script>
    <script src="~/jss/popper.min.js"></script>
    <script src="~/jss/bootstrap.min.js"></script>
    <script src="~/jss/owl.carousel.min.js"></script>
    <script src="~/jss/jquery.stellar.min.js"></script>
    <script src="~/jss/jquery.countdown.min.js"></script>
    <script src="~/jss/bootstrap-datepicker.min.js"></script>
    <script src="~/jss/jquery.easing.1.3.js"></script>*@
@*<script src="~/js/aos.js"></script>*@
@*<script src="~/jss/jquery.fancybox.min.js"></script>*@
@*<script src="~/jss/jquery.sticky.js"></script>*@


@*<script src="~/js/mains.js"></script>*@

@*<script type="text/javascript">
        function unhide(divID) {
            var item = document.getElementById(divID);
            if (item) {
                item.className = (item.className == 'hidden') ? 'unhidden' : 'hidden';
            }
        }
    </script>*@

<script type="text/javascript">
    function unhide(clickedButton, divID) {
        var item = document.getElementById(divID);
        if (item) {
            if (item.className == 'hidden') {
                item.className = 'unhidden';
                clickedButton.value = 'انصراف'
            } else {
                item.className = 'hidden';
                clickedButton.value = 'مشاوره آنلاین'
            }
        }
    }

</script>