@using Samane.RepositoriesForAuthentication
@model Samane.Models.HospitalUserRegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="wrapper wrapper-hospital">
    <div class="inner inner-hospital">
        <div class="image-holder">
            <img src="~/images/registration-form-4-10.jpg" alt="">
        </div>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>ثبت نام کاربر بیمارستان</h2>
                <div class="">
                    @Html.ValidationSummary(false, "پر کردن فیلدهای * الزامی است", new { @class = "text-danger" })
                    <div class="form-holder active">
                        @*@Html.LabelFor(model => model.HospitalName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @*<div class="col-md-10">*@
                        @Html.ValidationMessage("HospitalName", "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.HospitalName, new { htmlAttributes = new { @class = "form-control", placeholder = "نام بیمارستان", title = "نام بیمارستان" } })
                        @*@Html.ValidationMessageFor(model => model.HospitalName, "*", new { @class = "text-danger" })*@
                    </div>


                    <div class="form-holder">
                        @*@Html.LabelFor(model => model.NameAndLastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">*@
                        @Html.ValidationMessage("NameAndLastName", "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.NameAndLastName, new { htmlAttributes = new { @class = "form-control", placeholder = "نام و نام خانوادگی", title = "نام و نام خانوادگی" } })
                        @*@Html.ValidationMessageFor(model => model.NameAndLastName, "*", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-holder">
                        @*@Html.LabelFor(model => model.UserNamee, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">*@
                        @Html.ValidationMessage("UserNamee", "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.UserNamee, new { htmlAttributes = new { @class = "form-control", placeholder = "نام کاربری", title = "نام کاربری" } })
                        @*@Html.ValidationMessageFor(model => model.UserNamee, "*", new { @class = "text-danger" })*@
                    </div>

                    <div class="form-holder">
                        @*@Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">*@
                        @Html.ValidationMessage("Province", "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control", placeholder = "استان", title = "استان" } })
                        @*@Html.ValidationMessageFor(model => model.Province, "*", new { @class = "text-danger" })*@
                    </div>

                    <div class="form-holder">
                        @*@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">*@
                        @Html.ValidationMessage("City", "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "شهر", title = "شهر" } })
                        @*@Html.ValidationMessageFor(model => model.City, "*", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-holder">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">*@
                        @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "رمز عبور", title = "رمز عبور" } })
                        @*@Html.ValidationMessageFor(model => model.Password, "*", new { @class = "text-danger" })*@
                    </div>

                    <div class="form-holder">
                        @*@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">*@
                        @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "تکرار رمز عبور", title = "تکرار رمز عبور" } })
                        @*@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })*@
                    </div>

                    <div class="form-holder">
                        @*@Html.LabelFor(model => model.PhoneNumberr, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">*@
                        @Html.ValidationMessage("PhoneNumberr", "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.PhoneNumberr, new { htmlAttributes = new { @class = "form-control", placeholder = "شماره همراه", title = "شماره همراه" } })
                        @*@Html.ValidationMessageFor(model => model.PhoneNumberr, "*", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-login">
                    <div class="button">
                        <button class="button">
                            ثبت
                        </button>
                    </div>
                    <button>
                        @Html.ActionLink("بازگشت", "Authenticate")
                    </button>
                </div>

            }
        </div>
    </div>
